.talk-with-us {
	user-select: none;
	position: fixed;
	right: 8rem;
	bottom: 1rem;
	border: 1px solid #361ad6;
	border-radius: 0.8rem;
	padding: 0.8rem 1.2rem;
	color: #361ad6;
	font-family: 'Noto Sans', sans serif;
	font-size: 0.9rem;
	font-weight: bold;
	margin: 0.5rem 0rem;
}

.triangle {
	position: absolute;
	right: -0.7rem;
	top: 0.7rem;
	width: 0;
	height: 0;
	border-top: 0.7rem solid transparent;
	border-bottom: 0.7rem solid transparent;
	border-left: 0.7rem solid;
}

.triangle-border {
	border-left: 0.7rem solid #361ad6;
}

.triangle-white {
	right: -0.65rem;
	border-left: 0.7rem solid #fff;
}

.contact-icon {
	position: fixed;
	bottom: 1rem;
	right: 3rem;
	width: 3.7rem;
	height: 3.7rem;
	border-radius: 50%;
	font-family: 'Noto Sans', sans serif;
	font-weight: bold;
	text-align: center;
	user-select: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.contact-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contact-expand {
	z-index: 0;
	transition: width 0.3s, border-radius 0.3s, color 0.4s, bottom 0.3s, visibility 0.3s, background 0.3s;
}

.contact-text {
	margin: 0;
	font-size: 0rem;
	transition: font-size 0.3s;
}

.contact-expand:hover {
	width: 10rem;
	border-radius: 30px;
	margin: 0;
}

.contact-expand:hover .contact-text {
	margin: auto 0.5rem;
	font-size: 0.95rem;
	color: #fff;
}

.contact-expand:hover .contact-content {
	bottom: 10rem;
}

.contact-img {
	width: 1.5rem;
}

.toggle-contact {
	background: #361ad6;
}

.email-contact {
	bottom: 5rem;
	background: rgb(212, 70, 56);
	color: rgb(212, 70, 56);
}

.whatsapp-contact {
	bottom: 9rem;
	background: rgb(37, 211, 102);
	color: rgb(37, 211, 102);
}

.telegram-contact {
	bottom: 13rem;
	background: rgb(0, 136, 204);
	color: rgb(0, 136, 204);
}